@{
    ViewData["Title"] = "Disclaimer";
}
<h1>@ViewData["Title"]</h1>

<p>
    All information provided on this website is published in good faith and is
    made for educational and research purposes with unofficial translations
    for Kono Subarashii Sekai ni Shukufuku Wo! Fantastic Days developed by Sumzap, Inc.
    As the website is a work in progress and the information is a fan translation,
    any action you take upon using this information found on this website is strictly
    at your own risk and I will not be liable for any losses and/or damages in
    connection with the use of this website.
</p>
<p>
    I do not own any of the images that is used on this website. Please note that 
    all images and copyrights belong to their original owners - 暁なつめ・三嶋くろね／KADOKAWA／映画このすば製作委員会 ©Sumzap, Inc.
    No copyright infringement is intended. If the original owners request these 
    images to be removed immediately, please contact enantoka@gmail.com.
</p>

