<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KonoFandom</title>
    <link rel="stylesheet" href="~/css/bootstrap.custom.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css" />

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-navy ">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">KF</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-light">UPDATES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Characters" asp-action="Index">CHARACTERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Cards" asp-action="Index">CARDS</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-light">TUTORIAL</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-light">STORY</a>
                    </li>
                </ul>
                <partial name="_AdminPartial" />
            </div>
        </div>
    </nav>
    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer text-muted bg-navy">
        <div class="container text-light">
            &copy; 2020 - KonoFandom - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="DataTables/datatables.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
