@model IEnumerable<KonoFandom.Models.Character>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 0;
}

<h1>Character List</h1>


<div class="row">
    @foreach (var item in Model.OrderBy(c => c.CharacterID))
    {
        @if (count % 4 == 0)
        {
            @:</div>
            @:<div class="row">
        }
        count++;

        <div class="col">
            <a asp-area="" asp-controller="Characters" asp-action="Details" asp-route-id="@item.CharacterID" alt="@item.Name">
                <img src=@Html.DisplayFor(modelItem => item.IconImagePath)>
            </a>
        </div>
    }
</div>

