@model IEnumerable<KonoFandom.Areas.GameData.Models.Card>

@{
    var count = 0;
    ViewData["Title"] = "Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Card List</h1>

<div class="row">
    @foreach (var item in Model.OrderByDescending(c => c.Rarity).ThenBy(c => c.CharacterID))
    {
        @if (count % 4 == 0)
        {
            @:</div>
            @:<div class="row">
        }
        count++;

        <div class="col">
            <img src=@Html.DisplayFor(modelItem => item.ImagePath) width="250" height="125">
        </div>
    }
</div>
