@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Views/Shared/_MainLayout.cshtml";
    }
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Account Settings</h2>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <partial name="_ManageNav" />
                        <hr />
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
