@model KonoFandom.Models.BasicSkill

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BasicSkill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SkillID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooldown" class="control-label"></label>
                <input asp-for="Cooldown" class="form-control" />
                <span asp-validation-for="Cooldown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <table class="table table-borderless">
                    <tr>
                        @{
                            int count = 0;
                            List<KonoFandom.Models.AssignedBasicSkillData> cards = ViewBag.Cards;
                            if (cards != null)
                            {
                                foreach (var card in cards)
                                {
                                    if (count++ % 5 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox" name="selectedCards" value="@card.CardID"
                                               @(Html.Raw(card.Assigned ? "checked=\"checked\"" : "")) />
                                        @card.CardID @: @card.Name
                                    @:</td>
                                }
                            @:</tr>
                        }
                        }
                    </table>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
