@model IEnumerable<KonoFandom.Models.BasicSkill>


<div class="row">
    <div class="col-12">
        @if (Model != null)
        {
        <div id="skill-gallery">
            @foreach (var item in Model.OrderBy(x => x.SkillID)) // Sort in controller
            {
                <img style="width: 100px" src=@Html.DisplayFor(modelItem => item.ImagePath)
                     id="@Html.DisplayFor(modelItem => item.SkillID)">
            }
        </div>
        }
    </div>
</div>

<div id="div1" style="border:1px solid black; width:200px; height:200px;"></div>